<html>
    <head>
        <%- include('../../partials/head') %>
    </head>
    <body>
        <div id="root"></div>
        <%- include('../../partials/js-dependencies') %>
    </body>
    <script src="/js/dist/chat/pages/Index.js"></script>
</html>