<html>
    <head>
        <%- include('../../partials/head') %>
    </head>
    <body>
        <%- include('../../partials/navbar') %>
        
        <h1>Email tidak diizinkan</h1>
        <p>Sign in harus menggunakan email ict (contoh: nama@ict2.org). Silakan sign out dan sign in kembali</p>
        <%- include('../../partials/js-dependencies') %>
    </body>
</html>