<html>
    <head>
        <%- include('../../partials/head') %>
    </head>
    <body>
        <%- include('../../partials/navbar') %>
        <%- include('../../partials/js-dependencies') %>
    </body>
    <script>
    </script>
</html>